extends ./layouts/lusuarios.jade
block contenido
	div(class="content")
		div(class="container")
			form(method="post" action="/menu")
				div(class="row")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12" )
						div(class="centrar")
							span(class="headline-l-govco") Administración de usuarios
				div(class="clear10")
				div(class="row")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12" )
						div(class="left")
							span(class="headline-m-govco") Datos de acceso
				div(class="clear10")
				div(class="row")
					div(class="col-xs-12 col-sm-12 col-md-6 col-lg-6" )
						label(for="ID_Usuario" id="Lbl_ID_Usuario") ID_Usuario:
						input(class="form-control" type="text" id="Text_ID_Usuario" name="ID_Usuario" required minlength="4" maxlength="30" size="30" autocomplete="off")
					div(class="col-xs-12 col-sm-12 col-md-6 col-lg-6" )
						label(for="Contrasena" id="Lbl_Contrasena") Contraseña:
						input(class="form-control" type="password" id="Text_Contrasena" name="Contrasena" required minlength="4" maxlength="30" size="30" autocomplete="off")
				div(class="clear10")
				div(class="row")
					div(class="col-xs-12 col-sm-12 col-md-6 col-lg-6" )
						label(for="Rol" id="Lbl_Rol") Rol Usuario:
						select(class="form-control" name="Rol" size="1" id="DD_Rol" onChange="javascript:alert('Rol actualizado');") 
							option(value="" selected) Seleccione...
							option(value="Administrador") Administrador
							option(value="Vendedor") Vendedor 
					div(class="col-xs-12 col-sm-12 col-md-6 col-lg-6" )
						label(for="Estado" id="Lbl_Estado_Usuario") Estado Usuario:
						select(class="form-control" name="Estado" id="DD_Estado" onChange="javascript:alert('Estado actualizado');") 
							option(value="" selected) Seleccione
							option(value="Autorizado") Autorizado 
							option(value="No Autorizado") No_autorizado
							option(value="Pendiente") Pendiente
				div(class="clear10")
				div(class="row")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12" )
						div(class="left")
							span(class="headline-m-govco") Datos básicos
				div(class="clear10")
				div(class="row")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ) Nombre de usuario
				div(class="row")
					div(class="col-xs-12 col-sm-12 col-md-3 col-lg-3" )
						input(class="form-control" type="text" id="Text_PrimerApellido" name="PrimerApellido" placeholder="Primer apellido" required minlength="4" maxlength="30" size="30" autocomplete="off" )
					div(class="col-xs-12 col-sm-12 col-md-3 col-lg-3" )
						input(class="form-control" type="text" id="Txt_SegundoApellido" name="SegundoApellido" placeholder="Segundo apellido" maxlength="30" size="30" autocomplete="off")
					div(class="col-xs-12 col-sm-12 col-md-3 col-lg-3" )
						input(class="form-control" type="text" id="Txt_PrimerNombre" name="PrimerNombre" placeholder="Primer nombre" required minlength="4" maxlength="30" size="30" autocomplete="off")
					div(class="col-xs-12 col-sm-12 col-md-3 col-lg-3" )
						input(class="form-control" type="text" id="Txt_SegundoNombre" name="SegundoNombre" placeholder="Segundo nombre" maxlength="30" size="30" autocomplete="off")
				div(class="clear10")
				div(class="row")
					div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4" )
						label(for="Identificacion" id="Lbl_Identificacion") Número de identificación:
						input(class="form-control" type="number" id="Txt_Identificacion" name="Identificacion" required minlength="4" maxlength="30" size="30" autocomplete="off" )
					div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4" )
						label(for="Telefono" id="Lbl_Telefono") Número de teléfono: 
						input(class="form-control" type="tel" id="Txt_Telefono" name="Telefono" required minlength="4" maxlength="30" size="30" autocomplete="off" )
					div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4" )
						label(for="correo_electronico" id="txt_correo_electronico") Correo electrónico:
						input(class="form-control" type="email" id="Txt_correo_electronico" name="correo_electronico" placeholder="usuario@dominio" required minlength="4" maxlength="100" size="100" autocomplete="off" )
				div(class="clear10")
				div(class="row")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12" )
						div(class="centrar")
							input(class="botonPregunta" type="button" value="Buscar" id="btn_buscar" onclick="buscar()")
							input(class="botonPregunta" type="button" value="Nuevo" id="btn_nuevo" onclick="nuevo()")
							input(class="botonPregunta" type="submit" value="Guardar" id="btn_guardar" onclick="guardar()")
				div(class="clear10")
				div(class="row")
					div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12" )
						div(class="centrar")
							table
								thead
									th ID usuario
									th Rol usuario
									th Estado usuario
									th Primer Apellido
									th Segundo Apellido
									th Primer Nombre
									th Segundo Nombre
									th No. identificación
									th No. teléfono
									th Email
									th 
								tbody(id="d_usuarios")
									each user in users
										tr(id=user._id)
											td= user.ID_Usuario
											td= user.Rol
											td= user.Estado
											td= user.PrimerApellido
											td= user.SegundoApellido
											td= user.PrimerNombre
											td= user.SegundoNombre
											td= user.Identificacion
											td= user.Telefono
											td= user.correo_electronico
											td
												a(href="/menu/actualizar/#{user._id}") Editar
				div(class="clear10")